#uploaderContainer{
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  background-color: rgb(106, 106, 141, .25);
}

label{
  color: antiquewhite;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

