

h1{
  text-align: center;
}
figcaption{
  text-align: center;
}
#mainContainer{
  display: block;
  font-family: 'Abril Fatface', cursive;
  position: fixed;
  background-size: cover;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  overflow-y: scroll; 
  background-color: black;
}
#midContainer{
  padding: 1%;
  margin: 2.5% auto;
  max-width: 50vw;
  background-color: rgba(106, 231, 240, 0.4);
}
.imageContainer{
  display: flex;
}
.imageContainer > img{
  margin: 5px auto;
  max-width: 70vw;
  max-height: 75vh;
}

@media screen and (max-width: 1024px) {

  #midContainer{
    margin: 18% auto;
    max-width: 90vw;
  }

}